.text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-1.text-center.border.rounded-0.border {
  color: rgb(255,255,255);
}

.dropdown {
  position: relative;
  left: 70%;
  margin: 100px;
}

.dropdown.show {
  position: relative;
  left: 70%;
  margin: 100px;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 400px;
}

.text-muted.card-subtitle.mb-2 {
  color: white;
}

text {
  color: white;
}

.card-link {
  padding: 10px;
  background-color: rgb(23,162,184);
  color: white;
}

